                    * {
                        box-sizing: border-box;
                    }
                    
                    @font-face {
                        font-family: 'TT Lakes';
                        src: url('./fonts/TTLakes-Light.woff');
                        font-weight: 300;
                        font-style: normal;
                    }
                    
                    @font-face {
                        font-family: 'TT Lakes';
                        src: url('./fonts/TTLakes-Regular.woff');
                        font-weight: 400;
                        font-style: normal;
                    }
                    
                    @font-face {
                        font-family: 'TT Lakes';
                        src: url('./fonts/TTLakes-Medium.woff');
                        font-weight: 500;
                        font-style: normal;
                    }
                    
                    @font-face {
                        font-family: 'TT Lakes';
                        src: url('./fonts/TTLakes-DemiBold.woff');
                        font-weight: 600;
                        font-style: normal;
                    }
                    
                    @font-face {
                        font-family: 'TT Lakes';
                        src: url('./fonts/TTLakes-Bold.woff');
                        font-weight: 800;
                        font-style: normal;
                    }
                    
                    body {
                        margin: 0;
                        font-family: 'TT Lakes', "Arial", sans-serif;
                    }
                    
                    html,
                    body {
                        height: 100%;
                    }
                    /* Sidebar */
                    
                    .sidebar__link:hover {
                        font-weight: 300;
                    }
                    
                    .sidebar__header {
                        display: flex;
                        align-items: center;
                        height: 86px;
                        padding: 0 24px;
                        gap: 16px;
                    }
                    
                    .sidebar {
                        height: 100vh;
                        width: 320px;
                        box-shadow: -80px 0 150px 30px #808080;
                        display: block;
                        position: relative;
                    }
                    
                    .sidebar__header>.sidebar__close,
                    .sidebar__header>.sidebar__logo {
                        justify-content: flex-start;
                    }
                    
                    .sidebar__header>.sidebar__search {
                        margin-left: auto;
                    }
                    
                    .sidebar__link:hover {
                        background: no-repeat url("images/sidebar__highlight.svg");
                        display: flex;
                        align-items: center;
                        color: #7E7E82;
                        background-position: -100px 0;
                        background-size: 100% 100%;
                    }
                    
                    .sidebar__main {
                        margin: 32px 90px 32px 0;
                    }
                    
                    .sidebar__navigation {
                        display: block;
                    }
                    
                    .sidebar__navigation>div {
                        margin: 0px 0px 24px 0px;
                        padding-left: 24px;
                        font-size: 16px;
                        Line-height: 24px;
                        font-weight: 500;
                        display: inline-block;
                    }
                    
                    .sidebar__footer {
                        position: absolute;
                        bottom: 0;
                    }
                    
                    .sidebar__buttons {
                        display: flex;
                        padding: 16px 24px;
                        gap: 17px;
                    }
                    
                    .sidebar__email {
                        font-size: 16px;
                        font-weight: 500;
                        margin: 0 0 12px 24px;
                    }
                    
                    .sidebar__number {
                        font-size: 24px;
                        font-weight: bold;
                        margin: 12px 0 40px 24px;
                    }
                    
                    .sidebar__language {
                        margin: 32px 24px;
                        display: flex;
                        gap: 7px;
                        font-weight: 600;
                    }
                    
                    .sidebar__ru {
                        color: #7E7E82;
                    }
                    
                    @media (max-height: 900px) {
                        .sidebar {
                            height: 900px;
                        }
                    }
                    
                    @media (max-width: 1119px) {
                        .sidebar__plan {
                            display: block;
                        }
                        .sidebar {
                            z-index: 2;
                            position: absolute;
                            background-color: white;
                            overflow-y: auto;
                            transform: translateX(-500px);
                            transition: transform .3s;
                            /* transform: translateX(-500px); */
                        }
                        .sidebar__open {
                            transform: translateX(0px) !important;
                        }
                        .sidebar__click {
                            position: fixed;
                            transform: translateX(320px);
                            width: 800px;
                            height: 900px;
                            z-index: 2;
                            background-color: rgba(255, 255, 255, 0.5);
                        }
                        main {
                            width: 100%;
                            overflow: hidden;
                            z-index: 0;
                        }
                        .main__fixed {
                            position: fixed;
                        }
                    }
                    
                    @media (min-width: 1120px) {
                        .body {
                            margin-left: auto !important;
                            margin-right: auto !important;
                            width: 1426px;
                        }
                        .sidebar {
                            box-shadow: unset !important;
                        }
                        .sidebar__close {
                            display: none;
                        }
                        .body {
                            display: flex;
                        }
                    }
                    /* Обратная связь */
                    
                    @media(min-width: 768px) {
                        .feedback {
                            width: 440px;
                            height: 940px;
                            z-index: 2;
                            right: 0;
                            position: absolute;
                            background-color: white;
                            padding: 40px 0px 40px 0;
                        }
                        .feedback__h1 {
                            font-family: TT Lakes;
                            font-size: 24px;
                            line-height: 32px;
                            text-align: left;
                            background: no-repeat url("images/sidebar__highlight.svg");
                            display: flex;
                            align-items: center;
                            font-weight: 700;
                            background-position: -218px 0;
                            background-size: 100% 100%;
                            padding-left: 32px;
                        }
                        .input {
                            padding: 24px 16px 0px 16px;
                            text-align: center;
                        }
                        input::placeholder {
                            font-family: TT Lakes;
                            font-size: 16px;
                            line-height: 24px;
                            text-align: left;
                            font-family: 'TT Lakes', "Arial", sans-serif;
                        }
                        #name,
                        #phone,
                        #email,
                        #message {
                            width: 376px;
                            border: 1px solid #EAEAEA;
                            border-radius: 8px;
                            height: 48px;
                            margin-bottom: 16px;
                            padding: 12px 16px 10px 16px;
                        }
                        #name {
                            margin: 24px 16px 16px 16px;
                        }
                        #phone,
                        #email {
                            margin: 0px 16px 16px 16px;
                        }
                        #message {
                            height: 118px;
                            line-height: 48px;
                            padding: 12px 16px 82px 16px;
                            margin: 0 16px 16px 16px;
                        }
                        .feedback__description {
                            padding: 0 32px 27px 32px;
                            font-size: 14px;
                            line-height: 16px;
                            text-align: left;
                        }
                        #send {
                            margin: 0 32px 0 272px;
                            width: 136px;
                            height: 32px;
                        }
                        .feedback__close {
                            position: absolute;
                            top: 32px;
                            right: 473px;
                            width: 40px;
                            height: 40px;
                            background: transparent url(images/close.svg) no-repeat center center;
                            border: none;
                            cursor: pointer;
                        }
                        .feedback__show {
                            transform: translateX(0) !important;
                        }
                    }
                    
                    body {
                        width: 100%;
                        z-index: 0;
                    }
                    
                    @media(max-width: 767px) {
                        .feedback__close {
                            position: relative;
                            top: 24px;
                            left: 16px;
                            width: 40px;
                            height: 40px;
                            background: transparent url(images/close.svg) no-repeat center center;
                            border: none;
                            cursor: pointer;
                        }
                        .feedback__h1 {
                            font-family: TT Lakes;
                            font-size: 24px;
                            line-height: 32px;
                            text-align: left;
                            background: no-repeat url("images/highlight.svg");
                            align-items: center;
                            font-weight: 700;
                            background-position: -108px 33px;
                            background-size: 100% 40px;
                            padding: 40px 16px 0 16px;
                        }
                        .feedback-container {
                            width: 100%;
                            height: 100%;
                            display: block;
                            position: absolute;
                            background-color: white;
                            transform: translateX(-2000px);
                            transition: transform .6s;
                            z-index: 3;
                        }
                        .feedback__show {
                            transform: translateX(0) !important;
                        }
                        .feedback {
                            padding-top: 104px;
                            display: block;
                            width: 100%;
                            height: 100%;
                            flex-wrap: nowrap;
                            position: absolute;
                        }
                        #name,
                        #phone,
                        #email,
                        #message {
                            width: calc(100%);
                            border: 1px solid #EAEAEA;
                            border-radius: 8px;
                            height: 48px;
                            margin-bottom: 16px;
                            padding: 12px 16px 10px 16px;
                        }
                        #name {
                            margin: 24px 16px 16px 16px;
                        }
                        #phone,
                        #email {
                            margin: 0px 16px 16px 16px;
                        }
                        #message {
                            height: 118px;
                            line-height: 48px;
                            padding: 12px 16px 82px 16px;
                            margin: 0 16px 16px 16px;
                        }
                        .feedback__description {
                            padding: 0 16px 19px 16px;
                        }
                        #send {
                            margin-left: auto;
                            display: flex;
                            margin-right: 16px;
                        }
                    }
                    
                    @media(min-width: 768px) and (max-width: 1119px) {
                        .feedback-container {
                            transform: translateX(3000px);
                            transition: transform .5s;
                        }
                    }
                    
                    @media(min-width: 1120px) {
                        .feedback-container {
                            transform: translateX(-5000px);
                            transition: transform .5s;
                        }
                    }
                    /* Заказать звонок */
                    
                    .feedback__h2 {
                        margin-bottom: 36px;
                    }
                    
                    #call__phone {
                        margin-top: 36px;
                    }
                    
                    .order-call__container,
                    .feedback-container {
                        z-index: 4;
                    }
                    
                    @media(min-width: 768px) {
                        .order-call {
                            width: 440px;
                            height: 940px;
                            z-index: 2;
                            right: 0;
                            position: absolute;
                            background-color: white;
                            padding: 40px 0px 40px 0;
                        }
                        .feedback__h2 {
                            font-family: TT Lakes;
                            font-size: 24px;
                            line-height: 32px;
                            text-align: left;
                            background: no-repeat url("images/sidebar__highlight.svg");
                            display: flex;
                            align-items: center;
                            font-weight: 700;
                            background-position: -218px 0;
                            background-size: 100% 100%;
                            padding-left: 32px;
                        }
                        .input {
                            padding: 24px 16px 0px 16px;
                            text-align: center;
                        }
                        input::placeholder {
                            font-family: TT Lakes;
                            font-size: 16px;
                            line-height: 24px;
                            text-align: left;
                            font-family: 'TT Lakes', "Arial", sans-serif;
                        }
                        #call__phone {
                            width: 376px;
                            border: 1px solid #EAEAEA;
                            border-radius: 8px;
                            height: 48px;
                            margin-bottom: 16px;
                            padding: 12px 16px 10px 16px;
                        }
                        #call__phone {
                            margin: 0px 16px 16px 16px;
                        }
                        .call__description {
                            padding: 0 32px 27px 32px;
                            font-size: 14px;
                            line-height: 16px;
                            text-align: left;
                        }
                        #sendcall {
                            margin: 0 32px 0 272px;
                            width: 136px;
                            height: 32px;
                        }
                        .call__close {
                            position: absolute;
                            top: 32px;
                            right: 473px;
                            width: 40px;
                            height: 40px;
                            background: transparent url(images/close.svg) no-repeat center center;
                            border: none;
                            cursor: pointer;
                        }
                    }
                    
                    .call__show {
                        transform: translateX(0) !important;
                    }
                    
                    body {
                        width: 100%;
                        z-index: 0;
                    }
                    
                    @media(max-width: 767px) {
                        .call__close {
                            position: relative;
                            top: 24px;
                            left: 16px;
                            width: 40px;
                            height: 40px;
                            background: transparent url(images/close.svg) no-repeat center center;
                            border: none;
                            cursor: pointer;
                        }
                        .feedback__h2 {
                            font-family: TT Lakes;
                            font-size: 24px;
                            line-height: 32px;
                            text-align: left;
                            background: no-repeat url("images/highlight.svg");
                            align-items: center;
                            font-weight: 700;
                            background-position: -108px 33px;
                            background-size: 100% 40px;
                            padding: 40px 16px 0 16px;
                        }
                        .order-call__container {
                            width: 100%;
                            height: 100%;
                            display: block;
                            position: absolute;
                            background-color: white;
                            transform: translateX(-2000px);
                            transition: transform .6s;
                            z-index: 3;
                        }
                        .call__show {
                            transform: translateX(0) !important;
                        }
                        .order-call {
                            padding-top: 104px;
                            display: block;
                            width: 100%;
                            height: 100%;
                            flex-wrap: nowrap;
                            position: absolute;
                        }
                        #call__phone {
                            width: calc(100%);
                            border: 1px solid #EAEAEA;
                            border-radius: 8px;
                            height: 48px;
                            margin-bottom: 16px;
                            padding: 12px 16px 10px 16px;
                        }
                        #call__phone {
                            margin: 36px 16px 16px 16px;
                        }
                        .call__description {
                            padding: 0 16px 19px 16px;
                        }
                        #sendcall {
                            margin-left: auto;
                            display: flex;
                            margin-right: 16px;
                        }
                    }
                    
                    @media(min-width: 768px) and (max-width: 1119px) {
                        .order-call__container {
                            transform: translateX(3000px);
                            transition: transform .5s;
                        }
                    }
                    
                    @media(min-width: 1120px) {
                        .order-call__container {
                            transform: translateX(-5000px);
                            transition: transform .5s;
                        }
                    }
                    /* Всякое */
                    
                    @media(min-width: 768px) {
                        .firstSwiper {
                            max-width: 1100px;
                        }
                        .swiper-wrapper {
                            margin-right: 16px !important;
                        }
                    }
                    
                    a {
                        text-decoration: none;
                    }
                    
                    a:hover {
                        text-decoration: none;
                    }
                    
                    a:visited {
                        color: inherit;
                        text-decoration: none !important;
                        outline: none;
                    }
                    
                    .header {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 88px;
                        border-bottom: 1px solid #D9FFF5;
                        padding: 0 16px;
                        background-color: white;
                    }
                    
                    .header__right {
                        display: flex;
                        margin-left: auto;
                        gap: 16px;
                        align-items: center;
                    }
                    
                    .header__left {
                        display: flex;
                        margin-right: auto;
                        gap: 16px;
                        align-items: center;
                    }
                    
                    .logo {
                        width: auto;
                        flex-grow: 1;
                    }
                    
                    .title {
                        margin-left: 30px;
                        font-size: 28px;
                        font-weight: bold;
                        font-family: 'TT Lakes', "Arial", sans-serif;
                    }
                    
                    .navigation__buttons {
                        display: inline-block;
                        width: auto;
                        height: 40px;
                        white-space: nowrap;
                        background-color: #F8F8F8;
                        border: none;
                        padding: 8px 9px 8px 16px;
                        color: #7E7E82;
                        font-family: 'TT Lakes', "Arial", sans-serif;
                    }
                    
                    .about-company__more {
                        background-image: url(images/expand.svg);
                        background-repeat: no-repeat;
                        background-color: #F8F8F8;
                        text-decoration: none;
                        color: black;
                        margin: 14px 172px 14px 9px;
                        background-position: -2px -1px;
                        font-size: 16px;
                        font-weight: 500;
                        border: none;
                        min-width: 132px;
                        min-height: 24px;
                        text-align: right;
                        padding: 4px 0;
                    }
                    
                    .about-company__first-p {
                        margin-top: 0;
                    }
                    
                    .main {
                        max-width: 1120px;
                        height: 100%;
                        margin-right: auto;
                        margin-left: auto;
                        display: block;
                        background-color: #F8F8F8;
                    }
                    
                    .navigation__buttons:hover {
                        border: 2px solid #B8FFEC;
                        border-radius: 6px;
                        display: inline-block;
                        width: auto;
                        height: auto;
                        background-color: white;
                    }
                    
                    @media (max-width: 767px) {
                        .title-container {
                            padding: 24px 16px 24px 0px;
                            background-image: url(images/highlight.svg);
                            background-repeat: no-repeat;
                            background-size: 3px 30px;
                            background-position: 0;
                            text-align: left;
                        }
                        .navigation {
                            padding-left: 16px;
                            display: flex;
                            overflow: scroll;
                        }
                        .about-company__first-p {
                            padding: 24px 16px 0 16px;
                            margin: 0;
                            color: black;
                            font-weight: 400;
                            font-size: 14px;
                        }
                        .types__header {
                            margin-bottom: 16px;
                        }
                        .prices__header {
                            padding: 16px !important;
                            background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
                        }
                        .devices {
                            border: 2px solid #B8FFEC;
                            border-radius: 6px;
                            display: inline-block;
                            width: auto;
                            height: auto;
                            background-color: white;
                        }
                        .header__left>.header__stick {
                            display: none;
                        }
                        .header__call,
                        .header__chat,
                        .header__profile {
                            display: none;
                        }
                        .about-company__more {
                            margin-right: 600px;
                        }
                        .about-company__image {
                            width: 100%;
                            height: 55vw;
                            border-radius: 7px;
                        }
                        .about-company__second-p {
                            display: none;
                        }
                        .about-company__second-p-full {
                            display: none;
                        }
                        .title-container__sidebar {
                            display: none;
                        }
                    }
                    
                    @media (min-width: 768px) and (max-width: 1119px) {
                        .title-container {
                            padding: 24px 16px 24px 0px;
                            background-image: url(images/highlight.svg);
                            background-repeat: no-repeat;
                            background-size: 3px 30px;
                            background-position: 0;
                            text-align: left;
                        }
                        .about-company__description {
                            width: 312px;
                            height: 160px;
                            display: block;
                            font-size: 14px;
                            line-height: 20px;
                            padding-left: 24px;
                        }
                        .about-company__second-p {
                            margin-bottom: 0;
                        }
                        .about-company {
                            display: flex;
                            padding: 32px 25px 40px 24px;
                        }
                        .devices {
                            border: 2px solid #B8FFEC;
                            border-radius: 6px;
                            display: inline-block;
                            width: auto;
                            height: auto;
                            background-color: white;
                        }
                        .about-company__image-container {
                            margin-left: auto;
                        }
                        .about-company__image {
                            width: 360px;
                            height: 208px;
                            border-radius: 7px;
                        }
                        .navigation {
                            padding-left: 24px;
                            display: flex;
                            overflow: scroll;
                        }
                        .about-company__second-p-full {
                            display: none;
                        }
                        .title-container__sidebar {
                            display: none;
                        }
                    }
                    
                    @media (min-width: 1120px) {
                        .header {
                            display: none;
                        }
                        .title-container {
                            display: flex;
                            padding: 24px 16px 24px 0px;
                            background-image: url(images/highlight2.svg);
                            background-repeat: no-repeat;
                            background-size: 3px 30px;
                            background-position: 0 28px;
                            text-align: left;
                        }
                        .title-container__sidebar {
                            margin-left: auto;
                        }
                        .navigation {
                            display: flex;
                            padding: 0 35px 0 33px;
                            flex-wrap: wrap;
                        }
                        .about-company__second-p {
                            display: none;
                        }
                        .about-company__description {
                            font-size: 14px;
                            width: 490px;
                            height: 198px;
                            padding: 20px 36px 0 34px;
                        }
                        .about-company {
                            display: flex;
                        }
                        .about-company__image-container {
                            margin-left: auto;
                            padding: 20px 28px 38px 0;
                        }
                        .about-company__image {
                            width: 531px;
                            height: 306px;
                            border-radius: 7px;
                        }
                        .title-container__sidebar {
                            display: flex;
                            font-weight: 500;
                        }
                        .title-container__submit-application,
                        .title-container__chech-status {
                            padding-right: 80px;
                            background-repeat: no-repeat;
                            background-position: 133px 0px;
                            align-items: center;
                            border: none;
                            background-color: #F8F8F8;
                            font-weight: 500;
                            font-family: 'TT Lakes', "Arial", sans-serif;
                            font-size: 16px;
                            height: 40px;
                            display: flex;
                        }
                        .title-container__submit-application {
                            background-image: url(images/repair.svg);
                        }
                        .title-container__chech-status {
                            background-image: url(images/checkstatus.svg);
                        }
                    }
                    /* Swiper */
                    
                    .brands__header {
                        background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
                        height: 56px;
                        font-family: TT Lakes;
                        padding: 16px;
                        border-top: 1px solid #D9FFF5;
                    }
                    
                    .button {
                        max-width: 240px;
                        height: 72px;
                        border: 1px solid #EAEAEA;
                        border-radius: 5px;
                        background-color: white;
                        align-items: center;
                        display: flex;
                    }
                    
                    .arrow {
                        background-image: url("images/arrow.svg");
                        width: 40px;
                        height: 40px;
                        margin: 16px 16px 16px auto;
                    }
                    
                    .lenovo {
                        width: 108px;
                        height: 32px;
                        margin-left: 16px;
                    }
                    
                    .samsung {
                        width: 116px;
                        height: 39px;
                        margin-left: 16px;
                    }
                    
                    .apple {
                        width: 44px;
                        height: 44px;
                        margin-left: 16px;
                    }
                    
                    .view_sonic {
                        width: 128px;
                        height: 21px;
                        margin-left: 14px;
                    }
                    
                    .bosch {
                        width: 128px;
                        height: 28px;
                        margin-left: 16px;
                    }
                    
                    .hp {
                        width: 52px;
                        height: 52px;
                        margin-left: 10px;
                    }
                    
                    .acer {
                        height: 24px;
                        width: 94px;
                        margin-left: 16px;
                    }
                    
                    .sony {
                        height: 25px;
                        width: 128px;
                        margin-left: 14px;
                    }
                    
                    @media (max-width: 767px) {
                        main {
                            overflow: hidden;
                        }
                        .swiper1 {
                            width: 240px;
                            height: 90px;
                            margin-top: 16px !important;
                        }
                        .swiper2 {
                            width: 240px;
                            height: 180px;
                        }
                        .swiper-slide div {
                            object-fit: none;
                        }
                        .header {
                            background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
                            height: 80px;
                            font-family: TT Lakes;
                            padding: 16px;
                        }
                        .brands_navigation {
                            display: none;
                        }
                        .swiper-pagination,
                        .swiper-pagination-2 {
                            position: relative !important;
                        }
                        .swiper-pagination-2 {
                            margin-left: auto;
                            margin-right: auto;
                            text-align: center;
                        }
                        .show_more {
                            display: none !important;
                        }
                    }
                    
                    @media (min-width: 768px) {
                        .firstSwiper {
                            display: flex;
                            flex-wrap: wrap;
                            padding: 16px;
                            justify-content: space-between;
                            width: 100%;
                        }
                        .firstSwiperHide {
                            height: 160px !important;
                            overflow: hidden;
                        }
                        .firstSwiper .swiper-slide {
                            width: 240px;
                            height: 72px;
                            margin-right: 24px;
                            margin-bottom: 16px;
                        }
                        .secondSwiper {
                            display: flex;
                            flex-wrap: wrap !important;
                            padding-top: 24px;
                            justify-content: space-between;
                        }
                        .secondSwiperHide {
                            height: 160px !important;
                            overflow: hidden;
                        }
                        .secondSwiper .swiper-slide {
                            margin: 0 24px 24px 24px;
                            width: 224px !important;
                            height: 160px;
                        }
                        .firstSwiper,
                        .secondSwiper {
                            transform: none !important;
                        }
                    }
                    
                    @media(min-width: 1120px) {}
                    /* Ремон различных брендов */
                    
                    #show_more1,
                    #show_more2 {
                        background-color: #F8F8F8;
                        border: none;
                        font-family: TT Lakes;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        text-align: right;
                        width: 160px;
                        height: 30px;
                        margin-left: 8px;
                        display: flex;
                    }
                    
                    #show_more1 span,
                    #show_more2 span {
                        transform: translateY(1px) translateX(10px);
                    }
                    
                    .rotate {
                        transform: rotate(180deg);
                        transition: 1.5s;
                    }
                    
                    #show_more .text-hide {
                        display: none;
                    }
                    /* Ремонт техники различных видов */
                    
                    .types__header {
                        font-family: TT Lakes;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: left;
                        padding: 16px;
                        background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
                    }
                    
                    .types__button {
                        width: 240px;
                        height: 160px;
                        padding: 16px;
                        background: url("images/arrow.svg") no-repeat 90% 85%;
                        background-color: white;
                        border: 1px solid #EAEAEA;
                        border-radius: 8px;
                    }
                    
                    @media (max-width: 767px) {
                        .types {
                            margin: 0 auto 0 auto;
                        }
                    }
                    
                    .typesSwiper {
                        display: flex;
                    }
                    
                    .swiper-slide {
                        width: 100%;
                        margin-right: 0;
                    }
                    /* Цены на услуги */
                    
                    @media (max-width: 767px) {
                        .prices__button {
                            width: 260px;
                            height: 200px;
                            background: #FFFFFF;
                            border-radius: 6px;
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-start;
                            padding: 16px;
                        }
                        .prices__swiper {
                            width: 300px;
                            height: 230px;
                            padding: 16px 8px;
                        }
                        .swiper-pagination-3 {
                            text-align: center;
                        }
                        .prices__button img {
                            position: absolute;
                            bottom: 10%;
                            right: 15%;
                        }
                        .prices__content {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                        }
                        .prices__service,
                        .prices__price,
                        .prices__deadline {
                            font-family: TT Lakes;
                            font-size: 14px;
                            line-height: 18px;
                            text-align: left;
                        }
                        .prices__service,
                        .prices__price {
                            margin-bottom: 16px;
                        }
                        .prices__deadline {
                            margin-bottom: 4px;
                        }
                        .prices__service::before {
                            content: 'Ремонтные услуги\A';
                            display: block;
                            font-size: 14px;
                            line-height: 16px;
                            text-align: left;
                            color: #7E7E82;
                            padding-bottom: 4px;
                        }
                        .prices__price::before {
                            content: 'Цена\A';
                            display: block;
                            font-size: 14px;
                            line-height: 16px;
                            text-align: left;
                            color: #7E7E82;
                            padding-bottom: 4px;
                        }
                        .prices__deadline::before {
                            content: 'Срок\A';
                            display: block;
                            font-size: 14px;
                            line-height: 16px;
                            text-align: left;
                            color: #7E7E82;
                            padding-bottom: 4px;
                        }
                        .swiper-pagination-bullet-active {
                            background-color: #B5B6BC !important;
                            ;
                        }
                        .prices__top {
                            display: none;
                        }
                    }
                    
                    @media (min-width: 768px) {
                        .prices__top {
                            font-size: 14px;
                            line-height: 16px;
                            color: #7E7E82;
                            padding-bottom: 16px;
                        }
                        .prices__top-service {
                            display: inline-block;
                            position: relative;
                            left: 2.3%;
                        }
                        .prices__top-price {
                            display: inline-block;
                            position: relative;
                            left: 41%;
                        }
                        .prices__top-deadline {
                            display: inline-block;
                            position: relative;
                            left: 53%
                        }
                        .swiper-disable {
                            position: static;
                        }
                        .swiper-pagination-2 {
                            display: none;
                        }
                        .prices__swiper {
                            padding: 32px;
                        }
                        .thirdSwiper {
                            background-color: white;
                            display: block !important;
                            border-radius: 6px;
                            padding: 5px 24px;
                            transform: none !important;
                            width: unset !important;
                            font-family: TT Lakes;
                            font-size: 14px;
                            line-height: 18px;
                            height: 324px;
                        }
                        .prices__button,
                        .prices__content {
                            display: flex;
                        }
                        .prices__button {
                            position: relative;
                            height: 48px;
                            align-items: center;
                        }
                        .prices__button a {
                            position: absolute;
                            right: 5%;
                        }
                        .prices__deadline {
                            position: absolute;
                            left: 65%;
                        }
                        .prices__price {
                            position: absolute;
                            left: 50%;
                        }
                        .prices__header {
                            height: 64px;
                            border-top: 1px solid #D9FFF5;
                            background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
                            padding: 16px;
                        }
                        .thirdSwiper .swiper-slide::after {
                            content: "";
                            display: block;
                            width: calc(100% - 48px);
                            /* вычитаем 2*16px для padding */
                            height: 1px;
                            background-color: #EAEAEA;
                            margin: 0;
                            padding: 0;
                            position: relative;
                            bottom: 0;
                        }
                        .thirdSwiper .swiper-slide:last-child::after {
                            content: "";
                            height: 0 !important;
                        }
                    }
                    /* Нижний раздел */
                    
                    .bottom_description {
                        padding: 24px;
                        font-family: TT Lakes;
                        font-size: 14px;
                        line-height: 20px;
                        text-align: left;
                        max-width: 421px;
                    }
                    
                    .bottom_get {
                        font-family: TT Lakes;
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 500;
                        text-align: left;
                        padding-left: 24px;
                        display: flex;
                    }
                    
                    .bottom_get>img {
                        transform: translateX(10px) translateY(1px);
                    }
                    /* Footer */
                    
                    footer {
                        border-top: 1px solid #D9FFF5;
                        font-family: TT Lakes;
                        font-size: 14px;
                        line-height: 16px;
                    }
                    
                    @media (max-width: 767px) {
                        footer {
                            padding: 16px 4px 3px 4px;
                            display: block;
                            text-align: center;
                        }
                        .bottom_get {
                            padding-bottom: 40px;
                        }
                        footer div {
                            margin-bottom: 16px;
                        }
                    }
                    
                    @media (min-width: 768px) and (max-width: 1119px) {
                        footer {
                            padding: 32px 24px 25px 24px;
                            display: flex;
                        }
                        .bottom_get {
                            padding-bottom: 47px;
                        }
                        .footer__1 {
                            text-align: left;
                            margin-right: auto;
                        }
                        .footer__2 {
                            text-align: center;
                            margin-right: auto;
                            margin-left: auto;
                        }
                        .footer__3 {
                            text-align: right;
                            margin-left: auto;
                            max-width: 213px;
                        }
                    }
                    
                    @media(min-width: 1120px) {
                        footer {
                            padding: 32px 33px 21px 31px;
                            display: flex;
                        }
                        .bottom_get {
                            padding-bottom: 50px;
                        }
                        .footer__1 {
                            text-align: left;
                            margin-right: auto;
                        }
                        .footer__2 {
                            text-align: center;
                            margin-right: auto;
                            margin-left: auto;
                        }
                        .footer__3 {
                            text-align: right;
                            margin-left: auto;
                            max-width: 330px;
                        }
                    }